<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css"/>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <form class="col-lg-12 col-md-12">
            <div class="form-group">
                <label for="data">Data:</label>
                <textarea id="data" class="form-control" rows="5">{{content}}</textarea>
            </div>
            <button type="button" onclick="readData()" class="btn">Read</button>
            <button type="button" onclick="writeData()" class="btn">Write</button>
        </form>
    </div>
</div>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script src="/static/scripts/bootstrap.js"></script>
<script src="/static/scripts/respond.js"></script>
<script>
    function readData() {
        $.get('/read_data',
            function(data) {
                $('#data').val(data);
            });
    }

    function writeData() {
        var textareaData = $('#data').val();
        $.ajax({
            type: 'POST',
            url: '/write_data',
            data: { 'textareaData': textareaData },
            success: function() {
                settimeout(readData, 0.5);
            }
        });
    }
</script>
</body>
</html>